* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* root colors */
:root {
  --main-color: rgb(32, 36, 45);
  --text-color: white;
  --btn-color: #9cff1e;
  --black: black;
  --about-color: rgb(50, 56, 70);
}

body {
  font-family: 'Montserrat', sans-serif;
}
.inner {
  /* width: 90%; */
  /* height: 70vh; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_main2 {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInUp 2s ease-in-out forwards;
}

.rigth_main2 {
  width: 60%;
  animation: fadeInRight 2s ease-in-out forwards;
}

.left_main2 {
  width: 30%;
  animation: fadeInLeft 2s ease-in-out forwards;
}

.inner_right h1 {
  font-size: 50px;
}

.inner_right h3 {
  font-size: 25px;
}

.inner_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inner_right p{
  line-height: 30px;
}

.about_img {
  width: 100%;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.inner_right button {
  margin-top: 10px;
  width: 200px;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
  background: transparent;
  cursor: pointer;
  border: 1px solid var(--btn-color);
  transition: 0.5s ease;
  user-select: none;
}

.inner_right button:hover {
  color: black;
  background: var(--btn-color);
  text-shadow: 0 0 1px #ffffff, 0 0 10px #ffffff, 0 0 10px #ffffff;
}
.color{
  color:#9cff1e;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 680px) {
  .inner {
    flex-direction: column-reverse;
    height: 100%;
    width: 80%;
    margin: 0 auto;
  }
  .rigth_main2, .left_main2 {
    width: 100%;
    padding: 20px;
  }
  .rigth_main2 {
    animation: fadeInUp 2s ease-in-out forwards;
  }
  .left_main2 {
    animation: fadeInDown 2s ease-in-out forwards;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
