.title {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
    text-wrap: wrap;
  }
  
  /* Styling the grid container */
  .video-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  /* Styling each video item */
  .video-item {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 15px;
    gap: 40px;
  }
  
  /* Video Styling and Animation */
  .video {
    cursor: pointer;
    border: 2px solid #333;
    transition: transform 0.3s ease-in-out;
    transform: scale(0.5); /* Initial smaller size */
    animation: scaleUp 1.5s ease-in-out forwards; /* Animation to scale up */
  }
  
  /* Hover effect on videos */
  .video:hover {
    transform: scale(1.1);
  }
  
  /* Video Modal Styling */
  .video-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal content styling */
  .modal-content {
    position: relative;
  }
  
  .modal-video {
    width: 80vw;
    height: 60vh;
  }
  
  /* Close button styling */
  .close {
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 50px;
    color: white;
    cursor: pointer;
  }
  
  /* Animation for scaling up videos on page load */
  @keyframes scaleUp {
    0% {
      transform: scale(0.5); /* Initial small size */
      opacity: 0.2; /* Low opacity */
    }
    100% {
      transform: scale(1); /* Full size */
      opacity: 1; /* Full opacity */
    }
  }
  @media screen and (max-width: 680px) {
    .title{
        font-size: 20px;
    }
  }