/* Contact Component CSS */

.main_5 {
    /* background-color: var(--main-color); */
    /* padding: 50px 0; */
}

.inner_main5 {
    width: 90%; /* Adjusted width for responsiveness */
    max-width: 800px; /* Maximum width for larger screens */
    margin: auto;
    padding: 30px;
    animation: fadeInUp 2s ease-in-out forwards;
}

.heading_main5 h1 {
    text-align: center;
    font-size: 2.5rem; /* Responsive font size */
    /* color: var(--text-color); */
    padding: 20px;
}

form .inner_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input,
textarea {
    width: 100%;
    max-width: 700px;
    padding: 15px;
    margin: 10px 0;
    background-color: white; /* White background */
    border-radius: 20px;
    border: none;
    outline: none;
    color: black;
}

textarea {
    height: 200px;
}

input::placeholder,
textarea::placeholder {
    color: black;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 10px var(--btn-color);
}

button.btn3 {
    width: 200px;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--btn-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn3:hover {
    /* background-color: var(--text-color); */
    color: black;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1024px) {
    .inner_main5 {
        padding: 20px; /* Adjusted padding for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .inner_main5 {
        width: 90%; /* Adjusted width for smaller screens */
        max-width: 600px; /* Maximum width for medium-sized screens */
    }

    .heading_main5 h1 {
        font-size: 2rem; /* Adjusted font size for smaller screens */
    }

    input,
    textarea {
        max-width: 100%; /* Full width on smaller screens */
    }

    button.btn3 {
        width: 100%; /* Full width button on smaller screens */
        max-width: 300px; /* Limit width to maintain readability */
    }
}
